
    <! -- Результаты гадания в ввод числа   -->

<div class="row" >
	<div class="col-md-12">
		<h3 class="text-center mb-4">
				Наши властители тьмы хорошенько постарались. Вот их догадки :
		</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<ul class="list-group align-center">
			<! -- ВЫВОД ОБЬЕКТОВ В ЦИКЛЕ  -->
			<li class="list-group-item" ng-cloak ng-repeat="a in Augury">
				<div class="row">
					<div class="col-sm-9 d-flex p-2 bd-highlight">
							{{a.name}}
					</div>	
					<div class="col-sm-3 d-flex flex-row-reverse p-2 bd-highlight">
						{{a.num}}
					</div>				
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row" >
	<div class="col-md-12">
		<input type="text" name="numb" ng-model="numb"  class="form-control form-control-lg mb-4" value="numb"  placeholder="Введите загаданное число">
	<center>
	    <button type="submit" ng-click = "sendNumber(numb)"  class="btn btn-primary align-center display-5">Отправить
	    </button>
	</center>
	</div>
</div>